/* --- GLOBAL BODY STYLE --- */
body {
  background-color: #000b0f;
  color: #00ffcc;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 60px;
}

/* --- HEADERS --- */
h1, h2 {
  color: #00ffcc;
  text-shadow: 0 0 15px #00ffcc;
  margin-bottom: 20px;
}

/* --- BUTTONS --- */
button {
  background-color: #00ffcc;
  color: #000;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #00e6b8;
  box-shadow: 0 0 20px #00ffcc;
  transform:

  .flash.success {
  color: #00ffcc;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
  font-weight: bold;
  margin-bottom: 10px;
}

.flash.danger, .flash.error {
  color: #ff0044;
  text-shadow: 0 0 10px #ff0044, 0 0 20px #ff0044;
  font-weight: bold;
  margin-bottom: 10px;
}

.messages {
  text-align: center;
  margin-bottom: 15px;
}
.password-container {
  position: relative;
  display: inline-block;
}

.show-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #00fff2;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  text-shadow: 0 0 6px #00fff2, 0 0 12px #00fff2;
}

.show-password:hover {
  color: #39ff14;
  text-shadow: 0 0 8px #39ff14, 0 0 16px #39ff14;
}
